target/
dbt_packages/
logs/
profiles.yml
.env
__pycache__/
*.pyc
*.png

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json